html {
	height: 100%;
}

body {
	height: 100%;
	width: 100%;
	max-width: 100%;
}

.navbar {
	margin-bottom: 0px;
	border-radius: 0px;
}

#content {
	margin: 0px;
}

#info {
	margin: 15px 0px;
}

#chart, #forecast {
	margin-top: 30px;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
}

#map {
	padding-right: 0px;
}

#livemap {
	height: 100%;
	width: 100%;
}
