<!-- Content -->
<div id="content" class="row">
	<div id="info" class="col-md-6">
		<div id="thingHeader" style="margin-bottom: 20px;">
			<h3 id="thingName">Details</h3>
			<button id="thingDownload" type="submit" class="btn btn-default pull-right hidden">
				<i class="fa fa-download" aria-hidden="true"></i>&nbsp;Download Data
			</button>
			<div id="thingMetaInformation"></div>
		</div>
		<div id="thingDetails">
			<div class="well">
				Click on a marker to display further details...
			</div>
		</div>
		<div id="chart" hidden>
			<canvas id="waterLevelChart" width="400" height="100"></canvas>
		</div>
		<div id="weather" class="row">
			<div id="radar" class="col-md-6" style="width: 295px;"></div>
			<div id="forecast" class="col-md-6"></div>
		</div>
	</div>

	<div id="map" class="col-md-6">
		<div class="btn-group btn-group-justified" id="filter" role="group" aria-label="filter">
			<div class="btn-group" role="group">
				<button class="btn special">
					<b>Filters:</b>
				</button>
			</div>
			<div class="btn-group" role="group">
				<button id="filter_all" type="button" class="btn btn-primary">
					<i class="fa fa-cubes" aria-hidden="true"></i>&nbsp;&nbsp;All
				</button>
			</div>
			<div class="btn-group" role="group">
				<button id="filter_last_24h" type="button" class="btn btn-default">
					<i class="fa fa-clock-o"></i>&nbsp;&nbsp;Last 24h
				</button>
			</div>
			<div class="btn-group" role="group">
				<button id="filter_last_7d" type="button" class="btn btn-default">
					<i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;&nbsp;Last Week
				</button>
			</div>
			<div class="btn-group" role="group">
				<button id="filter_my_things" type="button" class="btn btn-default">
					<i class="fa fa-user"></i>&nbsp;&nbsp;My Things
				</button>
			</div>
			<div class="btn-group" role="group">
				<button id="filter_custom" class="btn btn-default" data-toggle="modal" data-target="#customFilterModal" onclick="customFilterFactory.reset()">
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;Custom
				</button>
			</div>
		</div>
		<div id="livemap"></div>
	</div>
</div>

<!-- Modal Filter-->
<div id="customFilterModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		
		<!-- Modal content -->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Custom Filter</h4>
			</div>
			<div class="modal-body" id="custom-filter-selection">
				<div class="list-group" id="filter-selection">
				  	<a href="#" class="list-group-item filter-select" onclick="customFilterFactory.createCustomFilter('Temporal')">
				    	<h4 class="list-group-item-heading">Temporal Query</h4>
				    	<p class="list-group-item-text">Query sensors based on the latest measurement.</p>
				  	</a>
				  	<a href="#" class="list-group-item" onclick="customFilterFactory.createCustomFilter('Spatial')">
				    	<h4 class="list-group-item-heading">Spatial Query</h4>
				    	<p class="list-group-item-text">Query sensors based on their location.</p>
				  	</a>
				  	<a href="#" class="list-group-item" onclick="customFilterFactory.createCustomFilter('Spatio-Temporal')">
				    	<h4 class="list-group-item-heading">Spatio-Temporal Query</h4>
				    	<p class="list-group-item-text">Query sensors based on the latest measurement and their location.</p>
				  	</a>
				  	<a href="#" class="list-group-item" onclick="customFilterFactory.createCustomFilter('River Filter')">
				    	<h4 class="list-group-item-heading">Select by River</h4>
				    	<p class="list-group-item-text">Query all sensors located at a certain river.</p>
				  	</a>
				  	<a href="#" class="list-group-item" onclick="customFilterFactory.createCustomFilter('Feature Filter')">
						<h4 class="list-group-item-heading">Select by Feature</h4>
						<p class="list-group-item-text">Query all sensors measuring this feature.</p>
				  	</a>
				  	<a href="#" class="list-group-item" onclick="customFilterFactory.createCustomFilter('saves')" id="customFilterSaves">
				  		<h4 class="list-group-item-heading">Saved Filters</h4>
				  		<p class="list-group-item-text">Your latest custom filters.</p>
				  	</a>
				</div>
			</div>
			<div class="modal-body" id="custom-filter-datetime">
				<h4>Select a start time</h4>
				<div class="container">
				    <div class="row">
				        <div class='col-sm-6'>
				            <div class="form-group">
				                <div class='input-group date' id='datetimepicker-start'>
				                    <input type='text' class="form-control" />
				                    <span class="input-group-addon">
				                        <span class="glyphicon glyphicon-calendar"></span>
				                    </span>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>
				<h4>Select an end time</h4>
				<div class="container">
				    <div class="row">
				        <div class='col-sm-6'>
				            <div class="form-group">
				                <div class='input-group date' id='datetimepicker-end'>
				                    <input type='text' class="form-control" />
				                    <span class="input-group-addon">
				                        <span class="glyphicon glyphicon-calendar"></span>
				                    </span>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>
				<button type="button" onclick="customFilterFactory.back()" class="btn btn-default">Back</button>
				<button type="button" onclick="customFilterFactory.next()" class="btn btn-success">Next</button>
			</div>
			<div class="modal-body" id="custom-filter-spatial">
				<h4>Spatial Selection</h4>

				<p>Click 'Next' to enter drawing mode. Use the Bounding Box to select the filter area. You can resize and move the Bounding Box to adjust it to your needs. When you are done, double click the bounding box to apply the filter.</p>
				
				<button type="button" onclick="customFilterFactory.back()" class="btn btn-default">Back</button>
				<button type="button" onclick="customFilterFactory.next()" class="btn btn-success">Next</button>
			</div>
			<div class="modal-body" id="custom-filter-river">
				<h4>Select by River</h4>

				<p>Select a river to display all sensors that are located at or close to that river.</p>

				<p>
					<label for="custom-filter-river-input">Enter River Name</label>
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon">River Name:</span>
						<input type="text" data-provide="typeahead" id="custom-filter-river-input" class="form-control" placeholder="e.g. Werse" aria-describedby="basic-addon">
					</div>
				</p>
				
				<button type="button" onclick="customFilterFactory.back()" class="btn btn-default">Back</button>
				<button type="button" onclick="customFilterFactory.next()" class="btn btn-success">Next</button>
			</div>
			<div class="modal-body" id="custom-filter-feature">
				<h4>Select by Feature</h4>

				<p>Select a feature to display all sensors which make measurements with this feature.</p>

				<p>
					<label for="custom-filter-feature-input">Enter Feature Name</label>
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon">Feature Name:</span>
						<input type="text" data-provide="typeahead" id="custom-filter-feature-input" class="form-control" placeholder="e.g. Water Level" aria-describedby="basic-addon">
					</div>
				</p>
				
				<button type="button" onclick="customFilterFactory.back()" class="btn btn-default">Back</button>
				<button type="button" onclick="customFilterFactory.next()" class="btn btn-success">Next</button>
			</div>
			<div class="modal-body" id="custom-filter-saves">
				<h4>Your custom filters</h4>

				<table class="table table-hover" style="overflow: auto;">
					<thead>
						<tr>
							<th>Filter Type</th>
							<th>Created</th>
							<th>Options</th>
						</tr>
					</thead>
					<tbody id="customFilterElements">
						<tr>
							<td style="width: 65%;"><a href="#" data-toggle="tooltip" title="Feature Name: Water Level">Feature Filter</a></td>
							<td>2012-02-02</td>
							<td>
								<button type="button" class="btn btn-success">Apply</button>
								<button type="button" class="btn btn-warning">Remove</button>
							</td>
						</tr>
						<tr>
							<td><a href="#" data-toggle="tooltip" title="Feature Name: Water Level">Temporal Filter</a></td>
							<td>
								<button type="button" class="btn btn-success">Apply</button>
								<button type="button" class="btn btn-warning">Remove</button>
							</td>
						</tr>
						<tr>
							<td><a href="#" data-toggle="tooltip" title="Feature Name: Water Level">Spatial Filter</a></td>
							<td>
								<button type="button" class="btn btn-success">Apply</button>
								<button type="button" class="btn btn-warning">Remove</button>
							</td>
						</tr>
					</tbody>
				</table>
				
				<button type="button" onclick="customFilterFactory.back()" class="btn btn-default">Back</button>
				<button type="button" onclick="customFilterFactory.next()" class="btn btn-success">Next</button>
			</div>
			<div class="modal-body" id="custom-filter-details">
				<h4>Your filter selection</h4>

				<div class="well" style="overflow: auto;">
					<table class="table">
						<thead>
							<tr>
								<th>Setting</th>
								<th>Value</th>
							</tr>
						</thead>
						<tbody id="custom-filter-details-table">
							<tr>
								<td>Filter Type</td>
								<td>River Filter</td>
							</tr>
							<tr>
								<td>River Selection</td>
								<td>Werse</td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<button type="button" onclick="customFilterFactory.back()" class="btn btn-default">Back</button>
				<button type="button" onclick="customFilterFactory.next()" class="btn btn-success">Apply</button>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div> <!-- Modal Filter-->