<div class="col-sm-6 col-sm-offset-3">
	<h1>
		<span class="fa fa-sign-in"> Signup</span> 
	</h1>

	<div class="alert alert-success" id="register_success" role="alert">You have successfully registered to giv-gwot-va.uni-muenster.de. You can now login <a href="/login">here</a>.</div>

	<div class="alert alert-danger" id="register_error" role="alert"></div>

	<!-- SIGNUP FORM -->
	<form ng-submit="register()">
		<div class="form-group">
			<label>Email</label>
			<input type="email" class="form-control" id="register_email" for="email" ng-model="user.email" name="email" required>
		</div>
		
		<div class="form-group">
			<label>Password</label>
			<input type="password" class="form-control" id="register_password" for="password" ng-model="user.password" name="password" required>
		</div>

		<div class="form-group">
			<label>Token</label>
			<input type="text" class="form-control" id="register_token" for="token" ng-model="user.token" name="token" required>
		</div>

		<br>
		<div>
			<a href="/" class="btn btn-link">Return to Main Page</a>
			<button type="submit" class="btn btn-success pull-right btn-lg">Signup</button>
			<br>
		</div>

		<br>
		<hr>
        
		<div>
			<p><a href="/login"><i> Already have an account? </i>Login</a></p>
		</div>
	</form>
	
</div>